.scrollToTop {
  position: fixed;
  z-index: 20;
  padding: 1rem 1.3rem;
  bottom: 40px;
  right: 40px;
  background-color: #303030;
  border-radius: 50%;
  cursor: pointer;

  i {
    @include gradientText;
    font-size: 1.3rem;
  }
}